
.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    // display: flex;
    align-content: center;
    align-items: center;
   
  }
  
  .form-element {
    padding: 5px 0px 15px 2px;
    width: 50%;
  }
  
  .example-margin {
    margin: 10px;
    width: 50%;
    align-content: center;
    align-items: center;
  }
  // .mat-form-field {
   
  // }
  .mat-slider-horizontal {
    width: 300px;
  }
  
  .mat-slider-vertical {
    height: 300px;
  }
  .sidebar-container {
    width: 25%;
    height: 100vh;
    overflow: auto;
  }
  li {
      display: block;
  }
  

  