

<mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidebar-container" >
   <h1> Transactions History</h1>
   <ul *ngFor = "let data of data">
     <li><strong>Loan Amount</strong> {{data.loanAmount}}</li>
     <li> <strong>Loan Duration</strong> {{data.loanDuration}}</li>
   </ul>
  </mat-sidenav>
  <mat-card >
    <mat-card-content class="mat-elevation-z8">
      <h2 class="example-h2">Slider configuration </h2>
      <section class="example-section">
        <mat-form-field class="form-element">
          <input matInput type="number" placeholder="Loan Amount (USD)" [(ngModel)]="value" #amount="ngModel">
        </mat-form-field>
        <mat-error *ngIf="amount.touched && value < min">Please enter above {{min}}</mat-error>
        <mat-error *ngIf="amount.touched && value > max" >Please enter valid withdraw amount </mat-error>

        <mat-form-field class="form-element">
          <input matInput type="number" placeholder="Loan Duration (Months)" [(ngModel)]="duration" #Duration = "ngModel" >
        </mat-form-field>
        <mat-error   class="example-margin" *ngIf="Duration.touched && duration < 6" >Please enter above {{min}}</mat-error>
        <mat-error class="example-margin" *ngIf="Duration.touched && value > duration > 24">Please enter valid withdraw amount </mat-error>
        <button  class="example-margin" mat-raised-button  color="primary" (click) ="getInterestRate()">Get Interest Rate</button>
      </section>
  
      <section *ngIf="showInterestDetails">
        <ul>
          <li>  Interest Rate: {{(interestDetails.interestRate)| percent }} </li>
          <li>  Monthly Payment: {{(interestDetails.monthlyPayment.amount | currency)}}</li>
          <li>  Number of Payment: {{(interestDetails.numPayments )}}</li>
          <li>  Principal Amount: {{(interestDetails.principal.amount | currency)}}</li>
        </ul>
      </section>

      <mat-card class="result">
          <mat-card-content>
            <h2 class="example-h2">Result</h2>
        
            <mat-slider
                class="example-margin"
                [max]="max"
                [min]="min"
                [(ngModel)]="value">
            </mat-slider>
          </mat-card-content>
        </mat-card>
    </mat-card-content>
  </mat-card>
  
 
</mat-sidenav-container>

