<mat-sidenav-container class="example-container" >
 
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidebar-container" >
      <h1> Transactions History</h1>
      <ul *ngFor = "let data of historyData">
        <li><strong>Loan Amount :</strong> {{data.loanAmount | currency}}</li>
        <li> <strong>Loan Duration :</strong> {{data.loanDuration}} months</li>
      </ul>
    </mat-sidenav>
  
  <mat-card >
    <mat-card-content >
      <h2 class="example-h2"> Loan Details</h2>
      <section class="example-section">
        <mat-form-field class="form-element">
          <input matInput type="text" placeholder="Loan Amount (USD)" [(ngModel)]="value" required #amount="ngModel">
        </mat-form-field>
        <mat-error class="example-margin" *ngIf="amount.touched && value < min">Please enter above {{min}}</mat-error>
        <mat-error class="example-margin" *ngIf="amount.touched && value > max" >Please enter below {{max}} </mat-error>

        <mat-form-field class="form-element">
          <input matInput type="text" placeholder="Loan Duration (Months)" [(ngModel)]="duration" required #Duration = "ngModel" >
        </mat-form-field>
        <mat-error class="example-margin" *ngIf="Duration.touched && duration < 6" >Please enter duration above 6 months</mat-error>
        <mat-error class="example-margin" *ngIf="Duration.touched && duration > 24">Please enter duration must be below 24 months </mat-error>


        <mat-error class="example-margin">{{errorMessage}}</mat-error>
        <button  class="button-css" mat-raised-button  color="primary" (click) ="getInterestRate()" >Get Interest Rate</button>
      </section>
  
      <section *ngIf="showInterestDetails">
        <h2 class="example-h2"> Interest Details</h2>
        <div>
        <ul class="interest-css" >
          <li> <strong>Interest Rate:</strong>  {{(interestDetails.interestRate)| percent }} </li>
          <li> <strong>Monthly Payment:</strong> {{(interestDetails.monthlyPayment.amount | currency)}}</li>
          <li> <strong>Number of Payments:</strong>  {{(interestDetails.numPayments )}}</li>
          <li> <strong> Principal Amount:</strong> {{(interestDetails.principal.amount | currency)}}</li>
        </ul>
      </div>
      </section>

      <mat-card >
          <mat-card-content >
            <h2 class="example-h2"> Slider Configuration</h2>
            <div class="slider-info">
            <mat-label>Slider For Loan Amount : </mat-label>
            <mat-slider
                [title] ="value"
                [max]="max"
                [min]="min"
                [(ngModel)]="value">
            </mat-slider>
          </div>
          <div class="slider-info">
            <mat-label>Slider For Loan Duration:</mat-label>
            <mat-slider
            [title] ="duration"
            [max]="24"
            [min]="6"
            [(ngModel)]="duration">
        </mat-slider>
      </div>
          </mat-card-content>
        </mat-card>
    </mat-card-content>
  </mat-card>
  
 
</mat-sidenav-container>

